body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #d2d2d2 !important;
    text-align: left;
    background-color: #fff;
    scroll-behavior: smooth;
}

.x-lobby-header {
    width: 100%;
    height: 60px;
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    opacity: 1;
    transition: background-color .2s;
    font-family: DB Helvethaica X, Helvetica Neue, Helvetica, Arial, sans-serif !important;
    font-size: 1.2rem !important;
    font-weight: 300 !important;
    background-color: #141414 !important;
}

.x-lobby-main-container-pg-slot {
    background-color: #181818;
}

.x-game-lobby-cover.-pg-slot {
    height: 400px;
}

.x-game-lobby-cover {
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    margin-top: 60px;
}

.x-lobby-main-container-pg-slot .x-pg-slot-wrapper-container {
    margin-top: 2rem;
}

.x-lobby-main-container-pg-slot .x-pg-slot-wrapper-container .-games-wrapper .-nav-container {
    background-color: #2d2d2d;
    margin: 0 .5rem;
}

.x-lobby-main-container-pg-slot .x-pg-slot-wrapper-container .-games-wrapper .-nav-container .nav-item .nav-link.active {
    color: #fff;
    background-color: transparent;
    border-bottom: 3px solid #ff2b58;
    border-radius: 0;
}

.x-lobby-main-container-pg-slot .x-pg-slot-wrapper-container .-games-wrapper .-nav-container .nav-item .nav-link {
    padding: 1.2rem 2rem;
    color: #d2d2d2;
}

.x-lobby-main-container-pg-slot .x-pg-slot-wrapper-container .-games-wrapper .-nav-container .nav-item .nav-link .far,
.x-lobby-main-container-pg-slot .x-pg-slot-wrapper-container .-games-wrapper .-nav-container .nav-item .nav-link .fas {
    font-size: .84rem;
}

.nav-pills .nav-link {
    border-radius: 5px;
}

.x-lobby-main-container-pg-slot .x-pg-slot-wrapper-container .-games-wrapper .-inner-wrapper {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.x-lobby-main-container-pg-slot .x-pg-slot-wrapper-container .-games-wrapper .-inner-wrapper li {
    width: 20%;
    padding: 0 .5rem;
    margin-bottom: 1.5rem;
}

.x-lobby-main-container-pg-slot .x-pg-slot-wrapper-container .-games-wrapper .-inner-wrapper li .-item {
    position: relative;
    background-color: #2d2d2d;
    border-radius: 15px;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
}

.x-lobby-main-container-pg-slot .x-pg-slot-wrapper-container .-games-wrapper .-inner-wrapper li .-item .-body-container .-image-cover {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.img-fluid,
.img-thumbnail,
.x-coin-hunting .-img-chest,
.x-coin-hunting .-img-chest-open,
.x-coin-hunting .-img-flying,
.x-coin-hunting .-img-get-coin-alert,
.x-coin-hunting .-img-get-coin-alert-light,
.x-coin-hunting .-img-text-container {
    max-width: 100%;
    height: auto;
}

.x-lobby-main-container-pg-slot .x-pg-slot-wrapper-container .-games-wrapper .-inner-wrapper li .-item .-footer-container {
    display: flex;
    padding: .75rem;
}

.x-lobby-main-container-pg-slot .x-pg-slot-wrapper-container .-games-wrapper .-inner-wrapper li .-item .-footer-container .-icon-container .-image-icon {
    width: 56px;
    min-width: 56px;
}

.x-lobby-main-container-pg-slot .x-pg-slot-wrapper-container .-games-wrapper .-inner-wrapper li .-item .-footer-container .-game-detail-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: .75rem;
    width: calc(100% - 68px);
}

.x-lobby-main-container-pg-slot .x-pg-slot-wrapper-container .-games-wrapper .-inner-wrapper li .-item .-footer-container .-game-detail-container .-title {
    font-size: .84rem;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.x-lobby-main-container-pg-slot .x-pg-slot-wrapper-container .-games-wrapper .-inner-wrapper li .-item .-footer-container .-game-detail-container .-btn-container {
    margin-top: .5rem;
}

.x-lobby-main-container-pg-slot .x-pg-slot-wrapper-container .-games-wrapper .-inner-wrapper li .-item .-footer-container .-game-detail-container .-btn-container .-btn-pg-slot {
    background-color: #ff2b58;
    color: #fff;
    padding: .2rem 2rem;
    font-size: .84rem;
}

@media (min-width: 992px) {
    .x-lobby-main-container-pg-slot .x-pg-slot-wrapper-container .-games-wrapper .-inner-wrapper li .-item:hover {
        text-decoration: none;
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}

@media (max-width: 1199.98px) {
    .x-lobby-main-container-pg-slot .x-pg-slot-wrapper-container .-games-wrapper .-inner-wrapper li {
        width: 25%;
    }
}

@media (max-width: 991.98px) {
    .x-game-lobby-cover.-pg-slot {
        height: 200px;
    }

    .x-lobby-main-container-pg-slot .x-pg-slot-wrapper-container .-games-wrapper .-inner-wrapper li {
        width: 33.33333%;
    }
}

@media (max-width: 767.98px) {
    .x-game-lobby-cover.-pg-slot {
        height: 110px;
        background-position: 0;
    }

    .x-lobby-main-container-pg-slot .x-pg-slot-wrapper-container .-games-wrapper .-inner-wrapper li {
        width: 50%;
    }
}

@media (max-width: 575.98px) {
    .x-lobby-main-container-pg-slot .x-pg-slot-wrapper-container .-games-wrapper .-nav-container .nav-item {
        width: 50%;
    }

    .x-lobby-main-container-pg-slot .x-pg-slot-wrapper-container .-games-wrapper .-nav-container .nav-item .nav-link {
        padding: 1.2rem;
        text-align: center;
    }

    .x-lobby-main-container-pg-slot .x-pg-slot-wrapper-container .-games-wrapper .-inner-wrapper li .-item .-footer-container .-game-detail-container .-btn-container .-btn-pg-slot {
        padding: .2rem 1.2rem;
    }
}

@media (max-width: 375px) {
    .x-lobby-main-container-pg-slot .x-pg-slot-wrapper-container .-games-wrapper .-inner-wrapper li .-item .-footer-container .-icon-container .-image-icon {
        width: 46px;
        min-width: 46px;
    }

    .x-lobby-main-container-pg-slot .x-pg-slot-wrapper-container .-games-wrapper .-inner-wrapper li .-item .-footer-container .-game-detail-container {
        width: calc(100% - 58px);
    }

    .x-lobby-main-container-pg-slot .x-pg-slot-wrapper-container .-games-wrapper .-inner-wrapper li .-item .-footer-container .-game-detail-container .-title {
        font-size: .6rem;
    }

    .x-lobby-main-container-pg-slot .x-pg-slot-wrapper-container .-games-wrapper .-inner-wrapper li .-item .-footer-container .-game-detail-container .-btn-container {
        width: 100%;
    }

    .x-lobby-main-container-pg-slot .x-pg-slot-wrapper-container .-games-wrapper .-inner-wrapper li .-item .-footer-container .-game-detail-container .-btn-container .-btn-pg-slot {
        width: 100%;
        padding: .2rem;
        font-size: .72rem;
    }
}
