.x-lobby-main-container-cq9 {
    background-color: #181818;
}
.x-lobby-header {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    opacity: 1;
    transition: background-color .2s;
    font-family: DB Helvethaica X,Helvetica Neue,Helvetica,Arial,sans-serif!important;
    font-size: 1.2rem!important;
    font-weight: 300!important;
}
.x-lobby-header .-inner-wrapper {
    height: 100%;
    padding: 0;
    justify-content: space-between;
}
.navbar-expand>.container, .navbar-expand>.container-fluid {
    flex-wrap: nowrap;
}
.navbar-expand>.container, .navbar-expand>.container-fluid {
    padding-right: 0;
    padding-left: 0;
}
.navbar, .navbar>.container, .navbar>.container-fluid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.x-lobby-header .-inner-wrapper .-header-left {
    display: flex;
    align-items: center;
    height: 100%;
}
.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.x-lobby-header .-inner-wrapper .navbar-brand .-logo {
    transition: opacity .2s;
    width: 160px;
}
.navbar-brand .-header-logo {
    width: 130px!important;
}
.x-lobby-header .-inner-wrapper #headerContent {
    display: flex;
}
.x-lobby-main-container-cq9 .x-lobby-header .-inner-wrapper #headerContent .-back-lobby-link {
    margin-top: .35rem;
}
.x-lobby-header .-inner-wrapper #headerContent .-action-btn {
    margin-top: .26rem;
    margin-right: .85rem;
    position: relative;
}
.x-lobby-header .-inner-wrapper #headerContent .-back-lobby-link .-img.-default {
    display: inline-flex!important;
}
.x-lobby-header .-inner-wrapper #headerContent .-back-lobby-link .-img {
    width: 20px;
}
.x-lobby-header .-inner-wrapper #headerContent .-back-lobby-link .-img.-default-light, .x-lobby-header .-inner-wrapper #headerContent .-back-lobby-link .-img.-hover {
    display: none!important;
}
.x-lobby-main-container-cq9 .x-lobby-header .-inner-wrapper #headerContent .-back-lobby-link .-text {
    font-size: 1.08rem;
}
.x-lobby-header .-inner-wrapper #headerContent .-back-lobby-link .-text {
    color: #d2d2d2;
    font-size: .96rem;
}
.navbar-expand .navbar-nav {
    flex-direction: row;
}
.x-lobby-main-container-cq9 .x-lobby-header .-inner-wrapper #headerContent .--profile-detail {
    font-size: 1.32rem;
}
.x-lobby-header .-inner-wrapper #headerContent .--profile-detail .-profile-detail-box {
    margin-top: .25rem;
}
.x-text-pinnacle {
    color: #f55400;
}
.x-lobby-header .-inner-wrapper #headerContent .--profile-detail .text-muted {
    color: #d2d2d2!important;
}
.x-lobby-header .-inner-wrapper #headerContent .--profile-detail #btn-customer-balance-reload {
    font-size: 14px;
}
.x-game-lobby-cover.-cq9 {
    height: 400px;
}
.x-game-lobby-cover {
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    margin-top: 60px;
}
.x-lobby-main-container-cq9 .x-cq9-wrapper-container {
    margin-top: 2rem;
}
.x-lobby-main-container-cq9 .x-cq9-wrapper-container .-games-wrapper .-nav-container {
    background-color: transparent;
    margin: 0 .5rem 2rem;
    justify-content: center;
}
.x-lobby-main-container-cq9 .x-cq9-wrapper-container .-games-wrapper .-nav-container .nav-item {
    padding: 1rem 2rem;
}
.x-lobby-main-container-cq9 .x-cq9-wrapper-container .-games-wrapper .-nav-container .nav-item .nav-link.active {
    color: #f6a901;
    background-color: transparent;
    border-radius: 0;
}
.x-lobby-main-container-cq9 .x-cq9-wrapper-container .-games-wrapper .-nav-container .nav-item .nav-link.active:before {
    content: "";
    position: absolute;
    left: 50%;
    width: 30px;
    background-color: #f6a901;
    bottom: 0;
    height: 2px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.tab-content>.active {
    display: block;
}
.x-lobby-main-container-cq9 .x-cq9-wrapper-container .-games-wrapper .-inner-wrapper {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}
.x-lobby-main-container-cq9 .x-cq9-wrapper-container .-games-wrapper .-inner-wrapper li {
    width: 20%;
    padding: 0 .5rem;
    margin-bottom: 1.5rem;
}
.x-lobby-main-container-cq9 .x-cq9-wrapper-container .-games-wrapper .-inner-wrapper li .-item .-image-container {
    padding: 2px;
    background-color: #2d2d2d;
    border: 1px solid rgba(246,169,1,.2);
    position: relative;
    overflow: hidden;
}
.x-lobby-main-container-cq9 .x-cq9-wrapper-container .-games-wrapper .-inner-wrapper li .-item .-image-container .-image {
    margin: auto;
    display: flex;
    transition: all .3s;
}
.x-lobby-main-container-cq9 .x-cq9-wrapper-container .-games-wrapper .-inner-wrapper li .-item .-image-container .-overlay .-link-overlay {
    display: none;
    opacity: 0;
    transition: opacity .3s;
}
.x-lobby-main-container-cq9 .x-cq9-wrapper-container .-games-wrapper .-inner-wrapper li .-item .-title-container {
    margin-top: .5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.x-lobby-main-container-cq9 .x-cq9-wrapper-container .-games-wrapper .-inner-wrapper li .-item .-title-container .-title {
    font-size: .96rem;
    color: #d2d2d2;
}
.x-lobby-main-container-cq9 .x-cq9-wrapper-container .-games-wrapper .-nav-container .nav-item .nav-link:hover {
    color: #f6a901;
}
.x-lobby-main-container-cq9 .x-cq9-wrapper-container .-games-wrapper .-nav-container .nav-item .nav-link.active {
    color: #f6a901;
    background-color: transparent;
    border-radius: 0;
}
.x-lobby-main-container-cq9 .x-cq9-wrapper-container .-games-wrapper .-nav-container .nav-item .nav-link {
    color: #fff;
    position: relative;
}
@media (min-width:992px) {
    .x-lobby-main-container-cq9 .x-cq9-wrapper-container .-games-wrapper .-inner-wrapper li .-item:hover .-image-container {
        border: 2px solid #f6a901
    }
    .x-lobby-main-container-cq9 .x-cq9-wrapper-container .-games-wrapper .-inner-wrapper li .-item:hover .-image-container .-image-link {
        text-decoration: none
    }
    .x-lobby-main-container-cq9 .x-cq9-wrapper-container .-games-wrapper .-inner-wrapper li .-item:hover .-image-container .-image-link .-image {
        -webkit-transform: scale(1.1);
        transform: scale(1.1)
    }
    .x-lobby-main-container-cq9 .x-cq9-wrapper-container .-games-wrapper .-inner-wrapper li .-item:hover .-title-container .-title-link {
        text-decoration: none
    }
    .x-lobby-main-container-cq9 .x-cq9-wrapper-container .-games-wrapper .-inner-wrapper li .-item:hover .-title-container .-title-link .-title {
        color: #f6a901
    }
    .x-lobby-main-container-cq9 .x-cq9-wrapper-container .-games-wrapper .-inner-wrapper li .-item:hover .-overlay {
        position: absolute;
        background-color: rgba(24, 24, 24, .6);
        height: 100%;
        width: 100%;
        z-index: 1;
        top: 0;
        left: 0
    }
    .x-lobby-main-container-cq9 .x-cq9-wrapper-container .-games-wrapper .-inner-wrapper li .-item:hover .-overlay .-link-overlay {
        opacity: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        text-decoration: none
    }
    .x-lobby-main-container-cq9 .x-cq9-wrapper-container .-games-wrapper .-inner-wrapper li .-item:hover .-overlay .-link-overlay .-text-container {
        border-radius: 50%;
        justify-content: center;
        width: 65px;
        height: 65px;
        align-items: center;
        display: flex;
        flex-direction: column;
        color: #fff;
        background: linear-gradient(180deg, #f6a901, #f9d103)
    }
}
@media (min-width: 768px){

    .x-lobby-header .-inner-wrapper #headerContent .-action-btn:after {
        content: "";
        border-right: 1px solid #2e383c;
        position: absolute;
        height: 25px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        right: -8px;
    }
}