.x-lobby-header {
    width      : 100%;
    height     : 60px;
    position   : fixed;
    top        : 0;
    left       : 0;
    right      : 0;
    z-index    : 50;
    opacity    : 1;
    transition : background-color .2s;
    font-family: DB Helvethaica X, Helvetica Neue, Helvetica, Arial, sans-serif !important;
    font-size  : 1.2rem !important;
    font-weight: 300 !important
}

.x-lobby-header.-light-theme {
    background-color: #fafafa !important
}

.x-lobby-header.-light-theme .-inner-wrapper #headerContent .-back-lobby-link .-text {
    color    : #393a55;
    font-size: .96rem
}

.x-lobby-header.-light-theme .-inner-wrapper #headerContent .-back-lobby-link .-img.-default {
    display: none !important
}

.x-lobby-header.-light-theme .-inner-wrapper #headerContent .-back-lobby-link .-img.-default-light {
    display: inline-flex !important
}

.x-lobby-header.-light-theme .-inner-wrapper #headerContent .-back-lobby-link .-img.-hover,
.x-lobby-header.-light-theme .-inner-wrapper #headerContent .-back-lobby-link:hover .-img.-default,
.x-lobby-header.-light-theme .-inner-wrapper #headerContent .-back-lobby-link:hover .-img.-default-light {
    display: none !important
}

.x-lobby-header.-light-theme .-inner-wrapper #headerContent .-back-lobby-link:hover .-img.-hover {
    display: inline-flex !important
}

.x-lobby-header.-light-theme .-inner-wrapper #headerContent .--profile-detail {
    font-size: 1.32rem
}

.x-lobby-header.-light-theme .-inner-wrapper #headerContent .--profile-detail .-profile-detail-box {
    color: #393a55
}

.x-lobby-header.-light-theme .-inner-wrapper #headerContent .--profile-detail .-profile-detail-box .text-muted {
    color: #393a55 !important
}

.x-lobby-header.-light-theme .-inner-wrapper #headerContent .--profile-detail .-profile-detail-box #customer-balance {
    color: #e86621
}

.x-lobby-header.-light-theme .-inner-wrapper #headerContent .--profile-detail #btn-customer-balance-reload .fas {
    color: #393a55 !important
}

@media (max-width:991.98px) {
    .x-lobby-header.-light-theme .-inner-wrapper #headerContent .--profile-detail {
        font-size: 1.2rem
    }
}

@media (max-width:575.98px) {
    .x-lobby-header.-anon .-inner-wrapper #headerContent {
        width: 100%
    }
}

.x-lobby-header .-inner-wrapper {
    height         : 100%;
    padding        : 0;
    justify-content: space-between
}

@media (max-width:575.98px) {
    .x-lobby-header .-inner-wrapper {
        justify-content: flex-end
    }
}

.x-lobby-header .-inner-wrapper .-header-left {
    display    : flex;
    align-items: center;
    height     : 100%
}

.x-lobby-header .-inner-wrapper .-header-left .-btn-back {
    display         : flex;
    justify-content : center;
    align-items     : center;
    height          : 100%;
    width           : 60px;
    border          : none;
    border-radius   : 0;
    background      : #006ac7;
    background      : -webkit-gradient(left top, left bottom, color-stop(0, #014c94), color-stop(100%, #006ac7));
    background      : linear-gradient(90deg, #014c94 0, #006ac7);
    filter          : progid:DXImageTransform.Microsoft.gradient(startColorstr=$from, endColorstr=$to, GradientType=0);
    background-color: #014c94
}

.x-lobby-header .-inner-wrapper .-header-left .-btn-back .fas {
    color    : #fff;
    font-size: 30px
}

.x-lobby-header .-inner-wrapper .navbar-brand .-logo {
    transition: opacity .2s;
    width     : 130px
}

.x-lobby-header .-inner-wrapper #headerContent {
    display: flex
}

.x-lobby-header .-inner-wrapper #headerContent .-action-btn {
    margin-top  : .26rem;
    margin-right: .85rem;
    position    : relative
}

@media (max-width:767.98px) {
    .x-lobby-header .-inner-wrapper #headerContent .-action-btn {
        display    : flex;
        align-items: center
    }
}

@media (min-width:768px) {
    .x-lobby-header .-inner-wrapper #headerContent .-action-btn:after {
        content          : "";
        border-right     : 1px solid #2e383c;
        position         : absolute;
        height           : 25px;
        top              : 50%;
        -webkit-transform: translateY(-50%);
        transform        : translateY(-50%);
        right            : -8px
    }
}

.x-lobby-header .-inner-wrapper #headerContent .-register-link {
    display    : flex;
    align-items: center
}

.x-lobby-header .-inner-wrapper #headerContent .-register-link .fas {
    margin-right: 5px;
    font-size   : 1rem;
    color       : #f55400
}

.x-lobby-header .-inner-wrapper #headerContent .-register-link .-text {
    position : relative;
    top      : 1px;
    font-size: .96rem;
    color    : #f55400
}

@media (min-width:992px) {
    .x-lobby-header .-inner-wrapper #headerContent .-register-link:hover {
        text-decoration: none
    }

    .x-lobby-header .-inner-wrapper #headerContent .-register-link:hover .-text,
    .x-lobby-header .-inner-wrapper #headerContent .-register-link:hover .fas {
        color: #ff9d6a
    }
}

@media (max-width:767.98px) {
    .x-lobby-header .-inner-wrapper #headerContent .-register-link .fas {
        font-size: .8rem
    }
}

.x-lobby-header .-inner-wrapper #headerContent .-back-lobby-link .-text {
    color    : #d2d2d2;
    font-size: .96rem
}

@media (max-width:767.98px) {
    .x-lobby-header .-inner-wrapper #headerContent .-back-lobby-link .-text {
        display: none
    }
}

.x-lobby-header .-inner-wrapper #headerContent .-back-lobby-link .-img {
    width: 20px
}

@media (max-width:767.98px) {
    .x-lobby-header .-inner-wrapper #headerContent .-back-lobby-link .-img {
        min-width: 26px
    }
}

.x-lobby-header .-inner-wrapper #headerContent .-back-lobby-link .-img.-default {
    display: inline-flex !important
}

.x-lobby-header .-inner-wrapper #headerContent .-back-lobby-link .-img.-default-light,
.x-lobby-header .-inner-wrapper #headerContent .-back-lobby-link .-img.-hover {
    display: none !important
}

@media (min-width:992px) {
    .x-lobby-header .-inner-wrapper #headerContent .-back-lobby-link:hover {
        text-decoration: none
    }

    .x-lobby-header .-inner-wrapper #headerContent .-back-lobby-link:hover .-text {
        color: #f55400
    }

    .x-lobby-header .-inner-wrapper #headerContent .-back-lobby-link:hover .-img {
        width: 20px
    }

    .x-lobby-header .-inner-wrapper #headerContent .-back-lobby-link:hover .-img.-default,
    .x-lobby-header .-inner-wrapper #headerContent .-back-lobby-link:hover .-img.-default-light {
        display: none !important
    }

    .x-lobby-header .-inner-wrapper #headerContent .-back-lobby-link:hover .-img.-hover {
        display: inline-flex !important
    }
}

.x-lobby-header .-inner-wrapper #headerContent .-header-login-btn {
    transition: opacity .2s ease-out
}

.x-lobby-header .-inner-wrapper #headerContent .--profile-detail {
    font-size: 1.1rem
}

.x-lobby-header .-inner-wrapper #headerContent .--profile-detail .-profile-detail-box {
    margin-top: .25rem
}

.x-lobby-header .-inner-wrapper #headerContent .--profile-detail #btn-customer-balance-reload {
    font-size: 14px
}

.x-lobby-header .-inner-wrapper #headerContent .--profile-detail .text-muted {
    color: #d2d2d2 !important
}

@media (max-width:991.98px) {
    .x-lobby-header .-inner-wrapper #headerContent .--profile-detail {
        font-size  : 1.05rem;
        line-height: 1.2
    }
}

.x-lobby-header.-sticky {
    background-color: #141414 !important
}

.x-lobby-header.-sticky.-light-theme {
    background-color: #fafafa !important
}

@media (min-width:992px) {
    ::-webkit-scrollbar {
        background   : transparent;
        width        : 8px;
        height       : 8px;
        border-radius: 4px
    }

    ::-webkit-scrollbar-thumb {
        background   : #b0b4bb;
        width        : 8px;
        height       : 8px;
        border-radius: 4px
    }

    ::-webkit-scrollbar-track {
        background   : #e6e8ec;
        width        : 8px;
        height       : 8px;
        border-radius: 4px
    }
}

.x-game-lobby-cover {
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    /* margin-top: 60px; */
    transition: all .4s;
}

.x-game-lobby-cover.-rich88 {
    height             : 400px;
    background-position: 0
}

@media (max-width:991.98px) {
    .x-game-lobby-cover.-rich88 {
        height: 200px
    }
}

@media (max-width:767.98px) {
    .x-game-lobby-cover.-rich88 {
        height: 110px
    }
}

.x-game-lobby-cover.-goldy {
    height: 350px
}

@media (max-width:991.98px) {
    .x-game-lobby-cover.-goldy {
        height: 200px
    }
}

@media (max-width:767.98px) {
    .x-game-lobby-cover.-goldy {
        height: 110px
    }
}

@media (max-width:575.98px) {
    .x-game-lobby-cover.-goldy {
        background-position: 0
    }
}

.x-lobby-main-container-rich88 {
    background: linear-gradient(180deg, #260543, #180032)
}

.x-lobby-main-container-rich88 .x-lobby-header .-inner-wrapper #headerContent .--profile-detail {
    font-size: 1.32rem
}

@media (max-width:991.98px) {
    .x-lobby-main-container-rich88 .x-lobby-header .-inner-wrapper #headerContent .--profile-detail {
        font-size: 1.2rem
    }
}

.x-lobby-main-container-rich88 .x-lobby-header .-inner-wrapper #headerContent .-back-lobby-link {
    margin-top: .35rem
}

.x-lobby-main-container-rich88 .x-lobby-header .-inner-wrapper #headerContent .-back-lobby-link .-text {
    font-size: 1.08rem
}

.x-lobby-main-container-rich88 .x-rich88-wrapper-container {
    margin-top: 2rem
}

.x-lobby-main-container-rich88 .x-rich88-wrapper-container .-games-wrapper .-nav-container {
    background-color: rgba(79, 2, 147, .6);
    border-radius   : 10px;
    margin          : 0 .5rem
}

.x-lobby-main-container-rich88 .x-rich88-wrapper-container .-games-wrapper .-nav-container .nav-item .nav-link {
    padding    : 1rem 2rem;
    color      : #ebebeb;
    align-items: center;
    display    : flex
}

@media (max-width:575.98px) {
    .x-lobby-main-container-rich88 .x-rich88-wrapper-container .-games-wrapper .-nav-container .nav-item .nav-link {
        padding   : .8rem 1.2rem;
        text-align: center
    }
}

.x-lobby-main-container-rich88 .x-rich88-wrapper-container .-games-wrapper .-nav-container .nav-item .nav-link.active {
    color           : #ffd401;
    background-color: transparent;
    border-radius   : 0
}

.x-lobby-main-container-rich88 .x-rich88-wrapper-container .-games-wrapper .-nav-container .nav-item .nav-link.active .-text {
    border-bottom: 3px solid #ffd401
}

@media (max-width:575.98px) {
    .x-lobby-main-container-rich88 .x-rich88-wrapper-container .-games-wrapper .-nav-container .nav-item .nav-link.active .-text {
        font-size: .84rem
    }
}

.x-lobby-main-container-rich88 .x-rich88-wrapper-container .-games-wrapper .-nav-container .nav-item .nav-link:hover {
    color: #ffd401
}

.x-lobby-main-container-rich88 .x-rich88-wrapper-container .-games-wrapper .-nav-container .nav-item .nav-link .far,
.x-lobby-main-container-rich88 .x-rich88-wrapper-container .-games-wrapper .-nav-container .nav-item .nav-link .fas {
    font-size: 1.2rem
}

.x-lobby-main-container-rich88 .x-rich88-wrapper-container .-games-wrapper .-inner-wrapper {
    display   : flex;
    flex-wrap : wrap;
    list-style: none;
    margin-top: 2rem;
    padding   : 0
}

.x-lobby-main-container-rich88 .x-rich88-wrapper-container .-games-wrapper .-inner-wrapper li {
    width        : 20%;
    padding      : 0 .5rem;
    margin-bottom: 1.5rem
}

@media (max-width:1199.98px) {
    .x-lobby-main-container-rich88 .x-rich88-wrapper-container .-games-wrapper .-inner-wrapper li {
        width: 25%
    }
}

@media (max-width:767.98px) {
    .x-lobby-main-container-rich88 .x-rich88-wrapper-container .-games-wrapper .-inner-wrapper li {
        width: 33.33333%
    }
}

@media (max-width:350px) {
    .x-lobby-main-container-rich88 .x-rich88-wrapper-container .-games-wrapper .-inner-wrapper li {
        width: 50%
    }
}

.x-lobby-main-container-rich88 .x-rich88-wrapper-container .-games-wrapper .-inner-wrapper li .-item {
    position        : relative;
    background-color: #260543;
    border-radius   : 15px;
    transition      : -webkit-transform .3s;
    transition      : transform .3s;
    transition      : transform .3s, -webkit-transform .3s
}

.x-lobby-main-container-rich88 .x-rich88-wrapper-container .-games-wrapper .-inner-wrapper li .-item .-body-container {
    position: relative
}

.x-lobby-main-container-rich88 .x-rich88-wrapper-container .-games-wrapper .-inner-wrapper li .-item .-body-container .-overlay {
    background   : rgba(0, 0, 0, .5);
    box-shadow   : inset 0 0 50px rgba(142, 240, 255, .5), inset 0 0 154px #623cff;
    position     : absolute;
    width        : 100%;
    height       : 100%;
    top          : 0;
    left         : 0;
    opacity      : 0;
    visibility   : hidden;
    transition   : all .2s;
    border-radius: 4px
}

.x-lobby-main-container-rich88 .x-rich88-wrapper-container .-games-wrapper .-inner-wrapper li .-item .-body-container .-overlay .-overlay-inner {
    position         : absolute;
    top              : 50%;
    left             : 50%;
    text-align       : center;
    -webkit-transform: translate(-50%, -50%);
    transform        : translate(-50%, -50%);
    transition       : all .2s;
    display          : flex;
    align-items      : center;
    justify-content  : center
}

.x-lobby-main-container-rich88 .x-rich88-wrapper-container .-games-wrapper .-inner-wrapper li .-item .-body-container .-overlay .-overlay-inner .-ic-play {
    width: 70px
}

@media (min-width:992px) {
    .x-lobby-main-container-rich88 .x-rich88-wrapper-container .-games-wrapper .-inner-wrapper li .-item .-body-container:hover {
        text-decoration: none
    }

    .x-lobby-main-container-rich88 .x-rich88-wrapper-container .-games-wrapper .-inner-wrapper li .-item .-body-container:hover .-overlay {
        opacity   : 1;
        visibility: visible
    }
}

.text-green-lighter {
    color: #f55400;
}